.container{
    max-width: 500px;
}

/* 
input:hover:invalid::after{
    content: ;
    background-color: lightpink;
} */
/* body{
   color: var(--bs-body-color)
} */
/* body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 300px;
} */
/* 
body,
form,
label {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: auto;
}


form {
    flex-grow: 1;
    max-width: 500px;
    align-items: stretch;
    align-self: center;
}


.interests {
    flex-wrap: nowrap;
    flex-direction: column;
} */