* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    /* Removes underline from link */
    text-decoration: none;
    display: block;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

header,
footer {
    width: 100%;
    font-family: Nunito;
}

.logo {
    font-family: 'Nunito';
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 33px;
    margin: 40px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: 0.25em;
}

.logo span {
    position: relative;
    text-decoration: none;
    fill: solid;
    color: #222222;
}

.pic_of {
    position: relative;
    background-color: #F9BDBD;
    height: 555px;
    left: 0px;
    /* top: 123px; */
    margin-bottom: 24px;
}

#not_rectangle {
    position: absolute;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    width: 278px;
    height: 388px;
    left: 40px;
    top: 83px;
    background: #F7DEA6;
}

.pic_of img {
    position: absolute;
    /* width: 426px; */
    /* height: 388px; */
    left: 40px;
    bottom: 0px;

}

.pic_of h1 {
    position: absolute;
    left: 466px;
}

.info {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    max-width: 741px;
    text-align: justify;
    /* margin-bottom: px; */
}

.info h2 {
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 133%;
}

.info p {
    font-weight: 400;
}

.exs {
    margin: auto;
    position: relative;
    display: block;
    width: 100% auto;
    float: left;
    font-weight: 500;
    margin: 40px;
}

.ex {
    float: left;
    position: relative;
    width: 152px;
    height: 216px;
    display: block;
    margin: 12px;
    border-radius: 30px;
    text-align: center;
    padding: 24px;
}

.ex :hover {
    background-color: inherit;
}

.ex_btn {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 24px;
    padding: auto
}

.ex img {
    display: block;
    position: relative;
    float: left;
    border-radius: 50%;
}

.ex p {
    display: block;
    float: left;
    position: relative;
    margin-top: 24px;
    text-align: left;
}

.ex_btn p {
    position: relative;
    float: unset;
    top: 10px;
    height: 20px;
    margin-top: 0px;
    text-align: center;
}

#ex1 {
    background-color: #FDEDE5;
}

#ex2 {
    background-color: #EBF1FF;
}

#ex3 {
    background-color: #EBFFEC;
}

#ex4 {
    background-color: #FFEBFC;
}

#ex5 {
    background-color: #FFFEEB;
}

.languages {
    margin-left: 40px;
    /* width: auto; */
}

.languages h2 {
    font-weight: 500;
}

.languages ul {
    position: relative;
    margin-top: 12px;
    margin-left: 32px;
    max-width: 90%;
    line-height: 140.62%;
    text-align: justify;
    font-weight: 400;
}

.fun {
    position: relative;

}

footer {
    /* background-color: ; */
    font-family: 'Nunito';
    font-weight: 400;
    color: #8D8D8D;
    position: relative;
}

#footer_eye_roll {}

footer h4 {
    font-weight: 500;
    color: #333333;
}

nav {
    margin-left: 40px;
}