* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    /* Remo ves underline from link */
    text-decoration: none;
    display: block;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

header,
footer {
    width: 100%;
    font-family: Nunito;
}

.logo {
    font-family: 'Nunito';
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 192px;
    height: 33px;
    left: 40px;
    top: 40px;
    font-weight: 700;
}

.logo span {
    position: relative;
    text-decoration: none;
    fill: solid;
    color: #222222;
}

.pic_of {
    position: relative;
    background-color: #F9BDBD;
    height: 555px;
    left: 0px;
    /* top: 123px; */
}

.pic_of img {
    position: relative;
    width: 426px;
    height: 388px;
    left: 40px;
    /* top: 206px; */
}

.pic_of h1 {}

.info h2 {}

.info p {}

.exs {
    margin: auto;
    position: relative;
    display: block;
    width: 100%;
    float: left;
    font-weight: 500;
}

.ex {
    float: left;
    position: relative;
    width: 152px;
    height: 216px;
    display: block;
    margin: 24px;
    border-radius: 30px;
    text-align: center;
    padding: 24px;
}

.ex :hover {
    background-color: inherit;
}

.ex_btn {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 24px;
    padding: auto
}

.ex_btn p {
    position: relative;
    top: 10px;
    height: 20px;
}

#ex1 {
    background-color: #FDEDE5;
}

#ex2 {
    background-color: #EBF1FF;
}

#ex3 {
    background-color: #EBFFEC;
}

#ex4 {
    background-color: #FFEBFC;
}

#ex5 {
    background-color: #FFFEEB;
}

.languages {}

.fun {}

footer {}

#exsersise_nav_bar {
    display: block;
}

#exsersise_nav_bar a {
    display: block;

}

#exsersise_nav_bar a:hover {
    background;
}