* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

a {
    /* Removes underline from link */
    text-decoration: none;
    display: block;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

header,
footer {
    width: 100%;
    font-family: Nunito;
}

h2 {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 33px;
    margin: 40px;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.logo img {
    position: relative;
    float: left;
}

.logo span {
    position: relative;
    float: left;
    padding-left: 8px;
    height: inherit;
    text-decoration: none;
    fill: solid;
    color: #222222;
    line-height: 33px;
}

.pic_of {
    position: relative;
    background-color: #F9BDBD;
    height: 555px;
    left: 0px;
    /* top: 123px; */
    margin-bottom: 24px;
    width: 100%;
}

.title_area {
    position: relative;
    margin-left: 40px;
    top: 83px;
}

#not_rectangle {
    position: absolute;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    width: 278px;
    height: 388px;
    background: #F7DEA6;
}

.pic_of img {
    position: absolute;
    left: 40px;
    bottom: 0px;
}

.title_text {
    position: absolute;
    left: 466px;
    font-family: 'Nunito';
}

.title_text h1 {
    position: relative;
    color: #3E3F43;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
}

.title_text span {
    position: relative;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    top: 16px;
}

.info {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 83px;
    width: auto;
    max-width: 741px;
    text-align: justify;
}

.info h2 {
    padding-bottom: 24px;
}

.info p {
    font-weight: 400;
}

.exs {
    display: inline-block;
    position: relative;
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 40px;
}


.ex {
    display: block;
    position: relative;
    float: left;
    width: 152px;
    height: 216px;
    margin: 12px;
    border-radius: 30px;
    text-align: center;
    padding: 24px;
}

.ex :hover {
    background-color: inherit;
}

.ex_btn {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 24px;
    padding: auto
}

.ex img {
    display: block;
    position: relative;
    float: left;
    border-radius: 50%;
}

.ex p {
    display: block;
    float: left;
    position: relative;
    margin-top: 24px;
    text-align: left;
}

.ex_btn p {
    position: relative;
    float: unset;
    top: 10px;
    height: 20px;
    margin-top: 0px;
    text-align: center;
}

#ex1 {
    background-color: #FDEDE5;
}

#ex2 {
    background-color: #EBF1FF;
}

#ex3 {
    background-color: #EBFFEC;
}

#ex4 {
    background-color: #FFEBFC;
}

#ex5 {
    background-color: #FFFEEB;
}

.languages {
    position: relative;
    display: block;
    padding-left: 40px;
    width: auto;
}

.languages ul {
    position: relative;
    padding-top: 12px;
    padding-left: 32px;
    line-height: 140.62%;
    text-align: justify;
    font-weight: 400;
}

.fun {
    position: relative;
    padding-left: 40px;
}

footer {
    position: relative;
    font-family: 'Nunito';
    font-weight: 400;
    color: #8D8D8D;
}

#footer_eye_roll {
    position: absolute;
    width: 100%;
    height: 301px;
}

#footer_title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-left: 40px;
    padding-top: 32px;
}

#social_sec {
    position: relative;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #8D8D8D;
}

#social_sec a {
    padding-top: 16px;
    color: #8D8D8D;
}

#copy_r {
    position: relative;
    padding-left: 40px;
    margin-top: 70px;
    margin-bottom: 51.35px;
    color: #8D8D8D;
    font-weight: 600;
    font-size: 12px;
}

#copy_r a {
    color: inherit;
}