* {
    margin: 0;
    padding: 0;
    font-family: 'Amiko', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    display: block;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

body,
header,
main,
footer,
nav,
aside,
section {
    display: flex;
}
body{
    flex-direction: column;
    position: relative;
}

header,
footer {
    width: 100%;
}

header {
    background: #F2E9E9;
    height: 123px;
    display: flex;
    justify-content: space-evenly;
}

.main_nav_bar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
}

.main_nav_bar ul li {
    display: inline-block;
    position: relative;
}

.main_nav_bar ul li:hover {
    color: #F72828;
}

.selected {
    display: inline-flex;
}

.selected div {
    display: inline-flex;
    position: absolute;
    background-color: #F72828;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -14px;
    margin-left: -2.5px;
}

#center_page {
    font-weight: 700;
}

#center_page h1 {
    font-size: 72px;
}

.mixMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: calc(100vh - 164px);
}

.THE_MIX,
#col1,
.the1s,
#col2,
#col2-2,
.area1,
.area2,
.area3,
.rec {
    display: inline-flex;
    position: relative;
}

#col1,
#col2-2,
.area2 {
    flex-direction: column;
}

.THE_MIX {
    width: 437px;
}

#col1 {
    width: 136px;
    margin-top: 44px;
    margin-right: 13px;
}

.the11s {}

#col2 {
    width: 288px;
    margin-bottom: 16px;
}

#col2-2 {
    width: 28px;
}

.area1 {
    flex-wrap: wrap;
}

.area2 {
    flex-wrap: wrap;
}

.area3 {
    width: 151px;
    justify-content: space-between;
    margin-bottom: 7px;
}

.rec {
    background-color: #EBEF18;
}

.rec2 {
    height: 352px;
    width: 246px;
    margin-right: 14px;
    margin-top: 44px;
}

.rec3,
.rec33 {
    width: 28px;
}

.rec3 {
    height: 55px;
    margin-bottom: 11px;
}

.rec33 {
    height: 198px;
}

.rec4 {
    width: 75px;
    height: 23px;
    margin-bottom: 8px;
}

.rec5,
.rec6 {
    margin-bottom: 11px;
}

.rec5 {
    width: 136px;
    height: 46px;
}

.rec6 {
    width: 134px;
    height: 404px;
}

.rec7 {
    width: 123px;
    height: 212px;
    margin-right: 14px;
}

.rec8 {
    width: 55px;
    height: 105px;
}

.rec9 {
    width: 110px;
    height: 58px;
}

.rec10 {
    width: 88px;
    height: 28px;
    margin-bottom: 7px;
}

.rec11 {
    width: 25px;
    height: 26px;
    margin-right: 7px;
}

footer {
    height: 41px;
    background-color: #000000;
    position: fixed;
    bottom: 0px;
}

.stairsAside {
    right: 0px;
    height: 1925px;
    width: 169px;
    background-color: #EBEF18;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.square {
    height: 80px;
    width: 80px;
    display: block;
    position: relative;
}

.square:nth-child(1) {
    top: 119px;
}

.square:nth-child(2) {
    background-color: #FFFFFF;
    top: 247px;
    left: 89px;
}

.square:not(:nth-child(2)) {
    background-color: #000000;
}

.square:nth-child(3) {
    top: 616px
}

.myName {
    position: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 44px;
    width: 169px;
}

.myName a {
    font-size: 96px;
}

.stairsMain{
    display: flex;
    position: relative;
    flex-basis: auto;
    width:calc(100wh - 169px)
}
.rectanglesC1 {
    display: grid;

}

.rectangle {
    background-color: #C4C4C4;
    display: flex;
    height: 299px;
    width: 457px;
}