* {
    margin: 0;
    padding: 0;
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

a {
    text-decoration: none;
    display: block;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

header,
footer {
    width: 100%;
}

header {
    background: #F5F5F5;
    height: 123px;
    display: flex;
    justify-content: space-evenly;
}

.main_nav_bar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.main_nav_bar ul li {
    display: inline-block;
    position: relative;
}

.selected {
    display: inline-flex;
    /* flex: auto; */
}

.selected div {
    display: inline-flex;
    position: absolute;
    background-color: #F72828;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -14px;
    margin-left: -2.5px;
    /* left: -2; */
}

#center_page {
    font-weight: 700;
}

#center_page h1 {
    font-size: 72px;
}

#tiles {}

footer {
    height: 41px;

}